name: trivy-scan

on:
  push:
    branches:
      - main
      - development
      - staging
  pull_request:
  schedule:
    - cron: '00 1 * * 1'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  trivy-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    if: |
      github.event_name == 'pull_request' ||
      github.event_name == 'merge_group' ||
      github.event_name == 'schedule' ||
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'push' && contains(fromJSON('["refs/heads/main", "refs/heads/development", "refs/heads/staging"]'), github.ref))
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'fs'
          ignore-unfixed: true
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: 'trivy-results.sarif'

      - name: Build image for scanning
        uses: docker/build-push-action@v5
        with:
          context: ./VigilCD/
          file: ./VigilCD/Dockerfile
          platforms: linux/amd64
          load: true
          push: false
          tags: vigilcd-scan-image:${{ github.sha }}

      - name: Scan Docker image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'vigilcd-scan-image:${{ github.sha }}'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'