name: CI Checks

permissions:
  contents: read

on:
  push:
  pull_request:
  merge_group:

jobs:
  ruff:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./VigilCD/
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install uv and dependencies
        run: |
          pip install uv
          uv sync --extra dev

#      - name: Run Ruff Linter
#        run: |
#          uv run ruff check . --exit-zero

      - name: Run Ruff Formatter
        run: |
          uv run ruff format . --check